In [34]:
# Copyright Aditya Rane
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Session 1 - Python Basics and Logic
> This notebook introduces python and basic building blocks 

<table align="left">
  <td style="text-align: center">
    <a href="https://colab.research.google.com/github/Adi8885/python-for-beginners/blob/main/tutorials-January2026-Batch/Session%201%20-%20Python%20Basics%20%26%20Logic.ipynb">
      <img src="https://www.gstatic.com/pantheon/images/bigquery/welcome_page/colab-logo.svg" alt="Google Colaboratory logo"><br> Run in Colab
    </a>
  </td>
    <td style="text-align: center">
    <a href="https://console.cloud.google.com/vertex-ai/colab/import/https://raw.githubusercontent.com/Adi8885/python-for-beginners/refs/heads/main/tutorials-January2026-Batch/Session%201%20-%20Python%20Basics%20%26%20Logic.ipynb">
      <img width="32px" src="https://lh3.googleusercontent.com/JmcxdQi-qOpctIvWKgPtrzZdJJK-J3sWE1RsfjZNwshCFgE_9fULcNpuXYTilIR2hjwN" alt="Google Cloud Colab Enterprise logo"><br> Run in Colab Enterprise
    </a>
  </td>
  <td style="text-align: center">
    <a href="https://github.com/Adi8885/python-for-beginners/blob/main/tutorials-January2026-Batch/Session%201%20-%20Python%20Basics%20%26%20Logic.ipynb">
      <img src="https://raw.githubusercontent.com/primer/octicons/refs/heads/main/icons/mark-github-24.svg" alt="GitHub logo"><br> View on GitHub
    </a>
  </td>
  <td style="text-align: center">
    <a href="https://console.cloud.google.com/vertex-ai/workbench/deploy-notebook?download_url=https://raw.githubusercontent.com/Adi8885/python-for-beginners/refs/heads/main/tutorials-January2026-Batch/Session%201%20-%20Python%20Basics%20%26%20Logic.ipynb">
      <img src="https://www.gstatic.com/images/branding/gcpiconscolors/vertexai/v1/32px.svg" alt="Vertex AI logo"><br> Open in Vertex AI Workbench
    </a>
  </td>
</table>

## Getting started

In [35]:
#print hello world
print("Hello, World!")

Hello, World!

## Variables
This section introduces you to Variables, Data Types,

In [36]:
# assign value to variable
a = 7

In [37]:
#jupyter automatically prints value of last variable
a

7

In [38]:
#explicitly prints value of variable
print(a)

7

In [39]:
# Print value wwith string or message
print(f"The value of a is : {a}")

The value of a is : 7

### Type of variables

In [40]:
type(a)

int

In [41]:
type(type(a))

type

In [42]:
#assigning a string value
a = "aditya"

#explicitly prints value of variable
print(f"The value of a is : {a}")

The value of a is : aditya

In [43]:
#recheck type of variable
type(a)

str

In [44]:
#assigning a float value
a = 3.14

#explicitly prints value of variable
print(f"The value of a is : {a}")

#recheck type of variable
print(f"datatype of variable a is : {type(a)}")

The value of a is : 3.14
datatype of variable a is : <class 'float'>

In [45]:
#assigning a float value
a = True #also try with False

#explicitly prints value of variable
print(f"The value of a is : {a}")

#recheck type of variable
print(f"datatype of variable a is : {type(a)}")

The value of a is : True
datatype of variable a is : <class 'bool'>

### User Interaction

Interact with user based on users intructions
- Take input from user - input()
- Show output to user - print()

In [46]:
#Take input from user
input()

'a'

In [47]:
#TODO : Input value "a" on input prompt
a = input()

In [48]:
#explicitly prints value of variable
print(f"The value of a is : {a}")

#recheck type of variable
print(f"datatype of variable a is : {type(a)}")

The value of a is : a
datatype of variable a is : <class 'str'>

In [49]:
#TODO : Input value "3.14" on input prompt
a = input()

In [50]:
#explicitly prints value of variable
print(f"The value of a is : {a}")

#recheck type of variable
print(f"datatype of variable a is : {type(a)}")

The value of a is : 3.14
datatype of variable a is : <class 'str'>

### Comparison Operators

In [51]:
#Assignment operator 
a = 3

In [52]:
#Comparison operator 
a == 3

True

In [53]:
#Comparison operator "not equals"
a != 3

False

In [54]:
#greater than
a > 3

False

In [55]:
#less than
a < 3

False

In [56]:
#greater or equal to than
a >= 3

True

In [57]:
#less than or equal to
a <= 3

True

In [58]:
#CRITUCAL : Note difference between `=` and `==`

## Math Operations

In [ ]:
#Addition

a = 10
b = 20

a + b

30

In [4]:
#Subtraction

a = 10
b = 20

a - b

-10

In [5]:
#Multiplication

a = 10
b = 20

a * b

200

In [6]:
#Division

a = 10
b = 20

a / b

0.5

In [7]:
#Remainder

a = 10
b = 20

a % b

10

In [8]:
#NOTE : CAreful with +

a = "Aditya"
b = "Rane"

a + b

'AdityaRane'

## Lab
Task: The Desi Unit Converter

Step 1 - Ask user for distance in Kilometers.

Step 2 - Convert to Meters ( km * 1000 ).

Step 3 - Print the result.

In [1]:
#Ask the user of confidence Score

#TODO : Ask user for distance in Kilometers

#TODO : Convert to Meters ( km * 1000 )

#TODO : Print the result.